*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail-page{
    width: 90vw;
    margin: 5rem auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.detail {
    width: 64%;
    border: 1px solid green;
    display : flex;
    /* justify-content: space-around; */
    padding: 30px;

}

.detail-topRated{
    width: 32%;
}

.big-img {
    height: 300px;
    width : 300px;
}

.thumb {
    height: 30px;
    width: 30px;

}