*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shop Page Style */
.shop-page{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.shop-container{
    width: 62%;
    font-size: 18px;
    margin: 5rem auto 0;
}

.shop-text {
    padding: 1rem 0;
    padding-left: 1rem;
    font-size: 30px;
    margin-bottom: 2rem;
}

.shop-text h2 {
    font-weight: 900;

}

.shop-text .sorting-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 16px;
    padding-right: 1.5rem;
}

@media screen and (max-width: 768px) {
    .shop-page {
        display: block;
    }
}


/* Beginning of Clothing Items */


.all-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.item-container{
    border: 1px solid rgb(228, 223, 223);
    /* display: grid; */
    /* grid-template-rows: 80% 1fr 1fr; */
    /* height: 300px;  */
    /* width: 200px; */

    /* text-transform: uppercase;
    color: gray;*/

}

.item {
    /*height: 80%;*/
    border-bottom: 1px solid rgb(228, 223, 223);
    /*text-align: center;*/
}


.item-img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}

.item .shop-price{
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}



.item-container .shop-btn{
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    background: white;
    padding: 0.25rem 0;
    color: gray;
}

.shop-btn.cart{
    border-bottom: 1px solid rgb(228, 223, 223);
}

.shop-btn .shop-icon{
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
/* End of Clothing Items */

.paginate {
    display: block;
}

/*End of Shop Page Style */